coverage/
node_modules/
.idea/
*.log
npm-debug.*
public/javascripts/app.bundle.css
public/javascripts/app.bundle.css.map
public/stylesheets/style.bundle.css
public/stylesheets/style.bundle.css.map
typings/
