server {
    listen       80;
    server_name  localhost;
    location / {
      root /usr/share/nginx/html;
      index  index.html;
      ssi on;
      set $urlapiprojects "${VITE_URL_API_PROJECTS}";
      set $urlapiusers "${VITE_URL_API_USERS}";
      set $urlapiaudits "${VITE_URL_API_AUDITS}";
      set $cookiename "${VITE_COOKIE_NAME}";
      try_files $uri /index.html;
    }
}